<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Force IE 8/9/10 to use its latest rendering engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

	{% feed_meta %}
	<link type="application/json" rel="alternate" href="{{ "/feed.json" | absolute_url }}" title="{{ site.title | escape }}" />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">

	{% seo %}
</head>
